.products {
    margin-top: 142px;
}

.text__products {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 1px;
    color: #000000;
    font-size: 16px;
    line-height: 110%;
}

.text__products {
    margin-top: 42px;
}

.img {
    max-height: 240px;
}

.products__content {
    display: flex;
}

.text__title {
    margin-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 1px;
    color: #000000;
    font-size: 16px;
    line-height: 110%;
}

.text__content {
    margin-left: 67px;
    margin-top: 84px;
}

.text__products {
    margin-top: 24px;
}

.products__content__ {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 537px 537px;
    grid-template-rows: 242px 242px ; 
    column-gap: 160px;
    row-gap: 81px;
}

.how__content {
    max-height: 600px;
}

.coment img {
    max-width: 124px;
}