@import url(menu.css);
@import url(header.css);
@import url(content.css);

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.main {
    background-color: #FF9CC0;
    height: 828px;
}

.main__border {
    max-width: 1393px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 6px;
    line-height: 100%;
}

h2 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: #BA3041;
    font-size: 40px;
    letter-spacing: 6px;
    line-height: 100%;
    margin: 0;
}

.main__title {
    color: #BA3041;
}

.text__content__how {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
}

.text__content__how__second {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #747474;
    line-height: 110%;
    margin-top: 34px;
}

.button__read__more {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    line-height: 110%;
    margin-top: 34px;
    padding: 14px 46px 14px 46px;
    background-color: #BA3041;
    border-radius: 100px;
    margin-top: 42px;
    max-width: 108px;
    cursor: pointer;
}

.button__read__more:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    line-height: 110%;
    margin-top: 34px;
    padding: 14px 46px 14px 46px;
    background-color: #000000;
    border-radius: 100px;
    margin-top: 42px;
    max-width: 108px;
    -webkit-transition: all 0.3s ease;
}

.how__content {
    display: flex;
    align-items: center;
}

.text__how {
    margin-left: 146px;
}

.how__content {
    margin-top: 100px;
}

.text__second {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: #BA3041;
    font-size: 64px;
    letter-spacing: 6px;
    line-height: 100%;
}

.cards {
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
}

.gallery {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px ; 
    column-gap: 97px;
    row-gap: 97px;
    margin-top: 142px;
}

.scale {
    transition: 1s;
   }

.scale:hover {
    transform: scale(1.2);
}

.coment .container .button img{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 30px;
    background-color: #F5F5F5;
    border-radius: 14px;
    margin-top: 42px;
    max-width: 72px;
    cursor: pointer;    
}

.coment .container .button img:hover{
    color: rgb(255, 255, 255);
    background-color: #BA3041;
    -webkit-transition: all 0.3s ease;;
}

.coment .container .coment_box {
    padding: 70px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 14px;
    margin: 0 57px 0 57px;
}

.coment .container .coment_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.04em;

color: #000000;
}

.coment .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coment {
    margin-top: 142px;
}

.coment .container .coment_box img {
    margin-right: 62px;
}

footer {
    margin-top: 142px;
    height: 212px;
    padding: 32px 0 42px;
    background-color: #F5F5F5;
}

footer .container {
    max-width: 1393px;
    margin: 0 auto;
}

.footer_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
}

.footer_text span {
    color: #BA3041;
}

.line {
    border-bottom: 1px solid #747474;
    margin-top: 33px;
}

footer .container .social img {
    margin-left: 24px;
}

footer .container .footer_content {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .text {
    margin-top: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #747474;
}

a {
    text-decoration: none;
}

.tel {
    color: #BA3041;
}

.tel:hover {
    color: #000000;
}

span {
    color: #BA3041;
}